# Arquivos compilados
*.class

# Pasta de build do Maven
target/
*/target/

# Arquivos de configuração do Eclipse / VS Code (Extensão Java)
.settings/
.project
.classpath
.factorypath
.vscode/

# Arquivos de log
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db